name: CI for PRs to dev

on:
  pull_request:
    branches: [dev, main]
  push:
    branches: [dev, main]

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        deps: [latest, min]
        include:
          - deps: latest
            constraints: ""
          - deps: min
            constraints: "constraints-min.txt"

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - uses: actions/cache@v3
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}
          restore-keys: |
            ${{ runner.os }}-pip-

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          if [ -n "${{ matrix.constraints }}" ]; then
            pip install -e . -c ${{ matrix.constraints }}
            pip install -r tests/requirements.txt -c ${{ matrix.constraints }}
          else
            pip install -e .
            pip install -r tests/requirements.txt
          fi

      # - name: Lint
      #   run: |
      #     pip install flake8
      #     flake8 .

      # - name: Type checking with mypy
      #   run: |
      #     pip install mypy
      #     mypy .

      - name: Run Python code
        run: |
          python -m compileall .

      - name: Run tests
        run: |
          python -m pytest tests/unit tests/contract tests/integration